<ion-header>
  <ion-navbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      首页
    </ion-title>
    <ion-buttons end>
      <button ion-button style="background-color: rgba(0, 0, 128, .1);font-family: sans-serif;" (click)="signout()">退出
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="scroll-content whole-background">
  <ion-list *ngFor="let month of diarys_array">
    <ion-list-header>
      {{ month.month }}
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of month.diarys">
      <ion-item style ion-item class="diary-item" (click)="goToDetail(item)">
        <!--<button style ion-item *ngFor="let item of month.diarys" class="diary-item" (click)="goToDetail(item)">-->
        <div class="item-time-middle-bar">
          <div class="item-time-bar-one">{{ item.date.day }}</div>
          <div class="item-time-bar-one">{{ item.date.date }}</div>
          <div class="item-time-bar-one">{{ item.date.hours}} : {{ item.date.minutes}}</div>
        </div>
        <div class="item-content-preview">
          <div class="item-content-preview-title span-nowrap">{{ item.text_title }}</div>
          <div class="item-content-preview-content span-nowrap">{{ item.text_content }}</div>
        </div>
        <!--</button>-->
      </ion-item>
      <ion-item-options>
        <button (click)="delete(item)"><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab bottom right="10px">
    <button ion-fab (click)="addTopic()">
     <ion-icon name="add"></ion-icon>
   </button>
  </ion-fab>
</ion-content>
