page-home {
  .whole-background {
    background-color: rgba(245, 245, 245, 1);
  }
   ::-webkit-scrollbar {
    width: 0px;
  }
   ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
   ::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
    -webkit-border-radius: 3px;
  }
  .scroll-content {
    overflow-y: auto;
    padding: 8px;
  }
  .list-md {
    margin: 0px 0px 17px;
  }
  .list-header-md {
    margin-left: 10px;
    min-height: 40px;
    margin-bottom: 0px;
    background-color: whitesmoke;
    border-top: none;
  }
  .item-md {
    padding-left: 0px;
  }
  .item-inner {
    padding-left: 0px;
  }
  .label-md {
    margin: 0px;
  }
  ion-list-header {
    .item-inner {
      padding-left: 10px;
    }
  }
  .diary-item {
    background-color: rgba(0, 191, 255, .8);
    height: 70px;
    color: rgba(0, 0, 0, .8);
    .item-time-middle-bar {
      line-height: 51px;
      width: 80px;
      vertical-align: top;
      display: inline-block;
      .item-time-bar-one {
        font-family: sans-serif;
        height: 17px;
        line-height: 17px;
        text-align: center;
      }
    }
    .item-content-preview {
      line-height: 51px;
      vertical-align: top;
      display: inline-block;
      .item-content-preview-title {
        font-weight: 600;
        font-size: 18px;
        height: 25px;
        line-height: 25px;
      }
      .item-content-preview-content {
        font-weight: 310;
        height: 25px;
        line-height: 25px;
      }
      .span-nowrap {
        font-family: sans-serif;
        width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
