page-reset-password {
  .background-image {
    background: url('../../assets/background.jpg') top left / 100% 100% no-repeat;
  }
  h3 {
    font-family: sans-serif;
    margin-top: 30px;
    text-align: center;
  }
  div .reset-password {
    border: 10px solid hsla(0, 0%, 100%, .5);
    background: white;
    background-clip: padding-box;
    /* styling */
    max-width: 20em;
    padding: 2em;
    font: 100%/1.5 sans-serif;
  }
  .email {
    font-family: sans-serif;
    margin-top: 20px;
    width: 100%;
    display: block;
    border: 1px solid rgba(38, 159, 66, .3);
    padding: 6px 8px;
  }
  .send-email {
    margin-top: 10px;
    color: #fff;
    font-weight: 600px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0.25em;
    width: 100%;
    background-color: #269f42; // border-color: rgba(27,31,35,0.5);
  }
}
