<ion-menu [content]="content" id="app-page">

  <!--content-->
  <ion-content>
    <!--user logo-->
    <div class="user-logo-wrap">
      <div>
        <img class="user-logo" [src]="picture" (click)="addImage()">
      </div>
      <div class="user-bar">
        {{email}}
      </div>
    </div>
    <!--user diary-->
    <div class="user-diary-count-wrap">
      <div class="user-diary-today-count">today</div>
      <div class="user-diary-all-count">al</div>
    </div>
    <!--search bar-->
    <div class="search-bar">
      <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
      </ion-searchbar>
    </div>
    <!--items-->
    <ion-list>
      <button ion-item class="item-background" (click)="toggleForDate()">
        date
      </button>

      <div class="date-wrap" *ngIf="toggleDate">
        <ion-calendar></ion-calendar>
      </div>

      <button ion-item class="item-background" (click)="toggleForTags()">
        tags
      </button>
      <ion-list *ngIf="toggleTags">
        <button ion-item *ngFor="let item of tags" (click)="deleteTag(item)">{{item}} is good</button>
        <button ion-item (click)="addTag()">
          <ion-icon style="padding-left: 110px" name="add"></ion-icon>
        </button>
      </ion-list>
      <button ion-item class="item-background" (click)="toggleForLocates()">
        locates
      </button>
      <ion-list *ngIf="toggleLocates">
        <button ion-item *ngFor="let item of locates" (click)="deleteLocate(item)">{{item}} is bad</button>
        <button ion-item (click)="addLocate()">
          <ion-icon style="padding-left: 110px" name="add"></ion-icon>
        </button>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
